<?xml version="1.0" ?>
<!--@PREPROC:  ./preproc.sh-->
<module>

<User f="nodata">
  <User>
    <User f="user" l="Control"/>
  </User>
</User>

<Control f="nodata">
  <Control>
    <New_Transect                     t="button" l="Transect"/>
    <New_Site                         t="button" l="Site"/>
    <New_Feature                      t="button" l="Feature"/>
    <New_Objects_IV                   t="button" l="Objects_IV">
      Objects &amp; IV
    </New_Objects_IV>
    <New_Cultural_Management_Comments t="button" l="Cultural_Management_Comments">
      Cultural &amp; Management Comments
    </New_Cultural_Management_Comments>
    <autonum/>
  </Control>
</Control>

<Transect>
  <Transect>
    <gps><!--Start Survey Unit--></gps>
    <Transect_ID f="id notnull autonum">
      <desc>
        The current autonumbering assumes single device in field. If multiple
        devices are in use, uniqueness rules must be defined.
      </desc>
    </Transect_ID>
    <timestamp/>
    <Device_ID t="radio" f="notnull">
      <opts>
        <opt>A</opt>
        <opt>B</opt>
        <opt>C</opt>
        <opt>D</opt>
      </opts>
    </Device_ID>
    <Logger_ID f="notnull"/>
    <Total_Transect_Width_m>Total Transect Width (m)</Total_Transect_Width_m>
    <Number_of_Participants_in_Transect f="notnull"/>
    <Participants>
      <desc>
        Enter the names of assistants and other people walking your survey
        transect.
      </desc>
    </Participants>
    <Landform f="notnull">
      <desc>
        Include definitions of these terms from p.12 of Australian Soil and Land
        Survey Handbook
      </desc>
      <opts>
        <opt>Crest / Hill-top</opt>
        <opt>Upper Slope</opt>
        <opt>Mid-slope</opt>
        <opt>Lower Slope</opt>
        <opt>Simple Slope</opt>
        <opt>Flat</opt>
        <opt>Open Depression (vale)</opt>
        <opt>Closed Depression</opt>
      </opts>
    </Landform>
    <Slope_Gradient f="notnull">
      Slope/Gradient
      <opts>
        <opt>Level</opt>
        <opt>Very gently inclined</opt>
        <opt>Gently inclined</opt>
        <opt>Moderately inclined</opt>
        <opt>Steep</opt>
        <opt>Very steep</opt>
        <opt>Precipitous</opt>
        <opt>Cliffed</opt>
      </opts>
    </Slope_Gradient>
    <Aspect>
      <desc>
        Note which direction the landform faces and multiple directions if that
        is relevant.
      </desc>
    </Aspect>
    <Vegetation_notes f="notnull">
      <desc>
        Note any recognisable species that are particularly dominant, known
        classifications for the ecosystem or other pertinent information.
      </desc>
    </Vegetation_notes>
    <Ground_surface_visibility f="notnull">
      <desc>
        Estimate the average percentage of ground surface that is visible for
        the survey unit as per the definition in the Code of Practice (perhaps
        include the definition from Appendix A of the Code).
      </desc>
    </Ground_surface_visibility>
    <Ground_surface_exposure f="notnull">
      <desc>
        Estimate the average percentage of ground surface that is exposed/
        quantity of exposures within the survey unit as per the definition in
        the Code of Practice (perhaps include the definition from Appendix A of
        the Code).
      </desc>
    </Ground_surface_exposure>
    <Ground_surface_notes>
      <desc>
        Describe any factors or issues affecting ground cover - e.g. grass
        height and thickness, leaf litter, flooding etc.
      </desc>
    </Ground_surface_notes>
    <Soil_observations>
      <desc>
        Describe the nature of the soil within the survey unit from any
        exposures that allow observations to be made. FAIMS to insert MOLS
        description criteria in the information field.
      </desc>
    </Soil_observations>
    <Geomorphological_Activity f="notnull">
      <desc>
        Insert descriptions from Australian Soil and Land Survey Field Handbook.
        No Observation means that the geomorphology could not be determined -
        you must always try to make an observation.
      </desc>
      <opts>
        <opt>Eroded</opt>
        <opt>Eroded or Aggraded</opt>
        <opt>Aggraded</opt>
        <opt>Heaved up or Elevated</opt>
        <opt>Built Up</opt>
        <opt>Excavated or Dug Out</opt>
        <opt>Subsided or Depressed</opt>
        <opt>No Observation Made</opt>
      </opts>
    </Geomorphological_Activity>
    <Disturbance/>
    <Photo>
      <desc>
        Take a photo that best represents the survey unit. Note direction photo
        is facing and what it includes in relation to the survey unit.
      </desc>
    </Photo>
    <Photo_Caption>
      <desc>
        Note direction photo is facing and what it includes in relation to the
        survey unit.
      </desc>
    </Photo_Caption>
    <Sketch/>
    <Other_Notes/>
    <gps><!--Finish Survey Unit--></gps>
  </Transect>
  <Map>
    <Map t="map"/>
    <Survey_extent f="readonly"/>
  </Map>
</Transect>

<Site>
  <Site>
    <Site_ID_Number f="id notnull autonum">
      <desc>
        The current autonumbering assumes single device in field. If multiple
        devices are in use, uniqueness rules must be defined.
      </desc>
    </Site_ID_Number>
    <Open_Closed_Site>Open/Closed Site</Open_Closed_Site>
    <Site_Aspect_Orientation>
      Site Aspect/Orientation
      <desc>As per the descriptions in the AHIMS site recording form.</desc>
      <opts>
        <opt>N-S</opt>
        <opt>NE-SW</opt>
        <opt>E-W</opt>
        <opt>SE-NW</opt>
        <opt>N/A</opt>
      </opts>
    </Site_Aspect_Orientation>
    <Distance_to_permanent_water_source>
      <desc>Distance to permanent water source in metres.</desc>
    </Distance_to_permanent_water_source>
    <Distance_to_temporary_water_source>
      <desc>Distance to temporary water source in metres.</desc>
    </Distance_to_temporary_water_source>
    <Name_of_nearest_permanent_water_source>
      <desc>Name of nearest permanent water source.</desc>
    </Name_of_nearest_permanent_water_source>
    <Name_of_nearest_temporary_water>
      <desc>Name of nearest temporary water.</desc>
    </Name_of_nearest_temporary_water>
    <General_Condition_of_Site t="checkbox" f="notnull">
      <desc>Select all those that apply.</desc>
      <opts>
        <opt>Weathered</opt>
        <opt>Vehicle damage</opt>
        <opt>Surface water Wash</opt>
        <opt>Fire damage</opt>
        <opt>Erosion</opt>
        <opt>Stock damage</opt>
        <opt>Exposed archaeological / Other material</opt>
        <opt>Fire damage</opt>
        <opt>Animal damage</opt>
        <opt>Graffitti / Vandalism</opt>
        <opt>Mineralisation</opt>
        <opt>Unstable structure / Landform</opt>
      </opts>
    </General_Condition_of_Site>
  </Site>
  <Open_Site>
    <Total_length_of_visible_site f="notnull"/>
    <Average_width_of_visible_site f="notnull"/>
    <Estimated_area_of_visible_site f="notnull"/>
    <Length_of_assessed_site_area f="notnull"/>
    <Subsurfance_potential t="radio">
      <opts>
        <!--BOOLEAN-->
      </opts>
    </Subsurfance_potential>
    <Length_of_potential_site_area/>
    <Average_width_of_potential_site_area f="notnull"/>
  </Open_Site>
  <Closed_Site>
    <Shelter_Cave_Formation>
      Shelter/Cave Formation
      <opts>
        <opt>Boulder</opt>
        <opt>Wind erosion</opt>
        <opt>Water erosion</opt>
        <opt>Rock collapse</opt>
        <opt>Other</opt>
      </opts>
    </Shelter_Cave_Formation>
    <Rock_Surface_Condition>
      <opts>
        <opt>Silica gloss</opt>
        <opt>Tessellated</opt>
        <opt>Weathered</opt>
        <opt>Other</opt>
      </opts>
    </Rock_Surface_Condition>
    <Internal_Length f="notnull"/>
    <Internal_Width f="notnull"/>
    <Shelter_Height f="notnull"/>
    <Shelter_Floor_Area f="notnull"/>
  </Closed_Site>
</Site>

<Feature>
  <Feature>
    <Feature_ID f="id autonum"/>
    <Feature_Type t="checkbox">
      <desc>Select all relevant site features.</desc>
      <opts>
        <opt>Intangible values</opt>
        <opt>Aboriginal Ceremony</opt>
        <opt>Aboriginal Resource</opt>
        <opt>Dreaming</opt>
        <opt>Gathering</opt>
        <opt>Art</opt>
        <opt>Artefact</opt>
        <opt>Burial</opt>
        <opt>Conflict</opt>
        <opt>Mound</opt>
        <opt>Fish Trap</opt>
        <opt>Grinding Groove</opt>
        <opt>Habitation Structure</opt>
        <opt>Hearth / Ground Oven</opt>
        <opt>Non Human Bone &amp; Organic Material</opt>
        <opt>Ochre quarry</opt>
        <opt>Potential Archaeological Deposit</opt>
        <opt>Stone Quarry</opt>
        <opt>Shell</opt>
        <opt>Stone Arrangement</opt>
        <opt>Culturally Modified Tree</opt>
        <opt>Water Hole</opt>
      </opts>
    </Feature_Type>
    <Feature_Condition>
      <opts>
        <opt>Excellent</opt>
        <opt>Good</opt>
        <opt>Fair</opt>
        <opt>Poor</opt>
      </opts>
    </Feature_Condition>
  </Feature>
</Feature>

<Objects_IV>
  Objects &amp; IV
  <Artefact>
    <Insitu>
      <opts>
        <!--BOOLEAN_MODAL-->
      </opts>
    </Insitu>
    <Stratified>
      <opts>
        <!--BOOLEAN_MODAL-->
      </opts>
    </Stratified>
    <Total_Number_of_Artefacts/>
    <Instance_No f="id">
      Instance No.
    </Instance_No>
    <Artefact_Raw_Material>
      <opts>
        <opt>Basalt</opt>
        <opt>Chert</opt>
        <opt>Fine grained siliceous</opt>
        <opt>Granite</opt>
        <opt>Quartz</opt>
        <opt>Quartzite</opt>
        <opt>Sandstone</opt>
        <opt>Silcrete</opt>
        <opt>Glass</opt>
        <opt>Mudstone</opt>
        <opt>Silcrete</opt>
        <opt>Petrified wood</opt>
        <opt>Chalcedony</opt>
        <opt>Chalcedonic chert</opt>
        <opt>Ceramic</opt>
        <opt>Metal</opt>
        <opt>Shell</opt>
        <opt>Bone</opt>
        <opt>Wood</opt>
        <opt>Resin</opt>
        <opt>Plastic</opt>
        <opt>Building material</opt>
        <opt>Synthetic</opt>
        <opt>Textile</opt>
        <opt>Other animal Material</opt>
        <opt>Other plant material</opt>
        <opt>Other unknown material</opt>
      </opts>
    </Artefact_Raw_Material>
    <Artefact_Type>
      <opts>
        <opt>Aboriginal</opt>
        <opt>Historical</opt>
      </opts>
    </Artefact_Type>
    <Artefact_Description_for_Aboriginal_Stone_Artefacts>
      Artefact Description (for Aboriginal Stone Artefacts)
      <opts>
        <opt>Anvil</opt>
        <opt>Axe</opt>
        <opt>Core</opt>
        <opt>Flake</opt>
        <opt>Hammerstone</opt>
        <opt>Manuport</opt>
        <opt>Groundstone Implement
          <opt>Milling slab</opt>
          <opt>Mortar</opt>
          <opt>Muller</opt>
        </opt>
        <opt>Retouched Flake</opt>
        <opt>Core Fragment</opt>
        <opt>Flake Fragment</opt>
        <opt>Retouched Flake Fragment</opt>
        <opt>Other - Unknown</opt>
      </opts>
    </Artefact_Description_for_Aboriginal_Stone_Artefacts>
    <Artefact_Description_for_Historical_Artefacts>
      Artefact Description (for Historical Artefacts)
    </Artefact_Description_for_Historical_Artefacts>
    <Artefact_Colour>
      <opts>
        <!--MUNSEL-->
      </opts>
    </Artefact_Colour>
    <Artefact_Status_Modification>
      Artefact Status/Modification
      <desc>
        Carved tends to refer to wooden features/ objects while cut refers to
        historical artefacts - cut pipe, cut plastic etc.
      </desc>
      <opts>
        <opt>Broken</opt>
        <opt>Modified</opt>
        <opt>Unworked</opt>
        <opt>Whole</opt>
        <opt>Usewear</opt>
        <opt>Burnt</opt>
        <opt>Carved/Cut</opt>
        <opt>Chewed</opt>
        <opt>Chipped</opt>
        <opt>Corroded</opt>
        <opt>Stained</opt>
        <opt>Drilled</opt>
        <opt>Encrusted</opt>
        <opt>Fabric Decay</opt>
        <opt>Ground</opt>
        <opt>Melted</opt>
        <opt>Other heat modification</opt>
        <opt>Opalescence</opt>
        <opt>Perforated</opt>
        <opt>Polished</opt>
        <opt>Repaired</opt>
        <opt>Shattered</opt>
        <opt>Weathered</opt>
      </opts>
    </Artefact_Status_Modification>
    <Platform_Surface_for_Aboriginal_stone_artefacts>
      Platform Surface (for Aboriginal stone artefacts)
      <opts>
        <opt>Cortex</opt>
        <opt>One flake scar</opt>
        <opt>More than one flake scar</opt>
        <opt>Faceted</opt>
        <opt>Ground</opt>
        <opt>Indeterminate</opt>
        <opt>Bipolar</opt>
      </opts>
    </Platform_Surface_for_Aboriginal_stone_artefacts>
    <Platform_Type_for_Aboriginal_stone_artefacts>
      Platform Type (for Aboriginal stone artefacts)
      <opts>
        <opt>Wide</opt>
        <opt>Focal</opt>
        <opt>Shattered</opt>
        <opt>Indeterminate</opt>
      </opts>
    </Platform_Type_for_Aboriginal_stone_artefacts>
    <Termination_for_Aboriginal_stone_artefacts>
      Termination (for Aboriginal stone artefacts)
      <opts>
        <opt>Feather</opt>
        <opt>Hinge</opt>
        <opt>Step</opt>
        <opt>Plunge</opt>
      </opts>
    </Termination_for_Aboriginal_stone_artefacts>
    <Cross_Section_for_Aboriginal_artefacts>
      Cross Section (for Aboriginal artefacts)
      <opts>
        <opt>High/Strong</opt>
        <opt>High/Weak</opt>
        <opt>Low/Weak</opt>
        <opt>Irregular</opt>
      </opts>
    </Cross_Section_for_Aboriginal_artefacts>
    <Length_mm>
      Length (mm)
      <desc>Maximum length of the object - longest side.</desc>
    </Length_mm>
    <Width_mm>
      Width (mm)
      <desc>
        Maximum width of the object (taken 90 degrees to the length
        measurement).
      </desc>
    </Width_mm>
    <Thickness_mm>
      Thickness (mm)
      <desc>
        Maximum thickness of the object measurement is taken at its thickest
        part.
      </desc>
    </Thickness_mm>
    <Other_Observations>
      <desc>Note any other things like texture, e.g., waxy / lustre.</desc>
    </Other_Observations>
    <Photo>
      <desc>
        Take a photo that best represents the artefacts present. Use scale and
        colour reference (IFRAO). Use north arrow where appropriate.
      </desc>
    </Photo>
    <Photo_Caption>
      <desc>
        Note direction photo is facing and what it includes in relation to the
        survey unit.
      </desc>
    </Photo_Caption>
  </Artefact>
  <Intangible_Values>
    <Intangible_Value_ID f="autonum"/>
    <Intangible_Value_Type>
      <opts>
        <opt>Aboriginal Ceremony (no physical evidence)</opt>
        <opt>Song</opt>
        <opt>Story</opt>
        <opt>Dreaming</opt>
        <opt>Gathering (non physical evidence).</opt>
      </opts>
    </Intangible_Value_Type>
    <Description/>
  </Intangible_Values>
  <Art>
    <Art_ID/>
    <Pigment_Engraved>
      Pigment/Engraved
      <opts>
        <!--BOOLEAN-->
      </opts>
    </Pigment_Engraved>
    <Super-impositioning>
      <opts>
        <!--BOOLEAN-->
      </opts>
    </Super-impositioning>
    <Motif_s t="checkbox">
      Motif/s
      <desc>
        Select all that apply - if other, add in freeform text beside the other
        button.
      </desc>
      <opts>
        <opt>Anthropomorphic</opt>
        <opt>Bird</opt>
        <opt>Bird track</opt>
        <opt>Canoe</opt>
        <opt>Circle</opt>
        <opt>Contact material Culture</opt>
        <opt>Duck</opt>
        <opt>Eel</opt>
        <opt>Emu</opt>
        <opt>Emu track</opt>
        <opt>European figure</opt>
        <opt>Female</opt>
        <opt>Fish</opt>
        <opt>Foot</opt>
        <opt>Hand</opt>
        <opt>Jellyfish</opt>
        <opt>Kangaroo</opt>
        <opt>Line</opt>
        <opt>Lizard</opt>
        <opt>Macropod</opt>
        <opt>Macropod track</opt>
        <opt>Male</opt>
        <opt>Marine-other</opt>
        <opt>Other</opt>
        <opt>Pattern</opt>
        <opt>Quadruped</opt>
        <opt>Reptile</opt>
        <opt>Rifle</opt>
        <opt>Shield</opt>
        <opt>Ship</opt>
        <opt>Snake</opt>
        <opt>Spear</opt>
        <opt>Wallaby</opt>
        <opt>Whale</opt>
      </opts>
    </Motif_s>
    <Application_Technique t="checkbox">
      <desc>
        Select all that apply - if other, add in freeform text beside the other
        button.
      </desc>
      <opts>
        <opt>Abraded</opt>
        <opt>Drawn</opt>
        <opt>Other</opt>
        <opt>Painted</opt>
        <opt>Pecked</opt>
        <opt>Pigment &amp; engraved</opt>
        <opt>Stencilled</opt>
      </opts>
    </Application_Technique>
    <Form>
      <opts>
        <opt>Fill</opt>
        <opt>Line</opt>
        <opt>Line + fill</opt>
        <opt>Other</opt>
        <opt>Pattern</opt>
      </opts>
    </Form>
    <Main_Colour>
      <opts>
        <opt>Black</opt>
        <opt>Mauve</opt>
        <opt>N/A</opt>
        <opt>Orange</opt>
        <opt>Other</opt>
        <opt>Red</opt>
        <opt>White</opt>
        <opt>Yellow</opt>
      </opts>
    </Main_Colour>
    <Art_Location t="checkbox">
      <desc>
        Select all that apply - if other, add in freeform text beside the other
        button.
      </desc>
      <opts>
        <opt>All over shelter or rock platform surface</opt>
        <opt>Ceiling</opt>
        <opt>Floor</opt>
        <opt>Mostly near largest sheltered space</opt>
        <opt>Mostly on out of the way spaces</opt>
        <opt>Other</opt>
        <opt>Wall</opt>
      </opts>
    </Art_Location>
    <Associated_Story_Significance_Interpretation>
      Associated Story/Significance/Interpretation
    </Associated_Story_Significance_Interpretation>
    <Art_Condition>
      <opts>
        <opt>Faded</opt>
        <opt>Stained</opt>
        <opt>Mineralisation evident</opt>
        <opt>Very brant colours</opt>
        <opt>Unweathered</opt>
        <opt>Weathered</opt>
      </opts>
    </Art_Condition>
    <Sketch_plan/>
    <Photo/>
    <Other_Observations/>
  </Art>
  <Other_Feature>
    <Other_Feature_ID f="autonum"/>
    <Description/>
    <Chain_of_Custody_Notes_for_human_remains>
      Chain of Custody Notes (for human remains)
    </Chain_of_Custody_Notes_for_human_remains>
    <Sketch_Plan/>
    <Photo/>
  </Other_Feature>
  <Grinding_Grove>
    <Grinding_Grove_ID f="autonum"/>
    <Type>
      <opts>
        <opt>Broad</opt>
        <opt>Narrow/point</opt>
        <opt>Hollow</opt>
        <opt>Flat</opt>
      </opts>
    </Type>
    <Profile_Shape>
      <opts>
        <opt>U' shaped</opt>
        <opt>'V' shaped</opt>
        <opt>Flat</opt>
      </opts>
    </Profile_Shape>
    <Seed_species_present/>
    <Groove_function/>
    <Dimensions_-_length_of_smallest_part_mm>
      Dimensions - length of smallest part (mm)
    </Dimensions_-_length_of_smallest_part_mm>
    <Dimensions_-_width_of_smallest_part_mm>
      Dimensions - width of smallest part (mm)
    </Dimensions_-_width_of_smallest_part_mm>
    <Dimensions_-_depth_of_smallest_part_mm>
      Dimensions - depth of smallest part (mm)
    </Dimensions_-_depth_of_smallest_part_mm>
    <Dimensions_-_length_of_largest_part_mm>
      Dimensions - length of largest part (mm)
    </Dimensions_-_length_of_largest_part_mm>
    <Dimensions_-_width_of_largest_part_mm>
      Dimensions - width of largest part (mm)
    </Dimensions_-_width_of_largest_part_mm>
    <Dimensions_-_depth_of_largest_part_mm>
      Dimensions - depth of largest part (mm)
    </Dimensions_-_depth_of_largest_part_mm>
    <Groove_count/>
    <Cluster_count/>
    <Sketch_Plan/>
    <Photo/>
  </Grinding_Grove>
  <Shell>
    <Shell_ID f="autonum"/>
    <Distribution>
      <opts>
        <opt>Surface scatter</opt>
        <opt>Stratified deposit</opt>
        <opt>Mounded</opt>
      </opts>
    </Distribution>
    <Distance_to_high_water_mark_metres>
      Distance to high water mark (metres)
    </Distance_to_high_water_mark_metres>
    <Species_present t="checkbox">
      <opts>
        <!--SPECIES-->
      </opts>
    </Species_present>
    <Dominant_Species>
      <opts>
        <!--SPECIES-->
      </opts>
    </Dominant_Species>
    <Approximate_percentage_of_dominant_species_as_part_of_assemblage>
      <opts>
        <!--PERCENTAGE_INTERVALS-->
      </opts>
    </Approximate_percentage_of_dominant_species_as_part_of_assemblage>
    <Sketch_Plan/>
    <Photo/>
  </Shell>
  <Hearth_Ground_Oven>
    Hearth/Ground Oven
    <Hearth_ID/>
    <Shape/>
    <Length/>
    <Width/>
    <Estimated_Depth/>
    <Components>
      <desc>Tick all those that are relevant.</desc>
      <opts>
        <opt>Baked clay balls</opt>
        <opt>Charcoal</opt>
        <opt>Wood</opt>
        <opt>Heat affected basal clay</opt>
        <opt>Bone / Other animal material</opt>
        <opt>Seeds / other Plant material</opt>
        <opt>Stone</opt>
      </opts>
    </Components>
    <Descriptive_Notes/>
    <Sketch_Plan/>
    <Photo/>
  </Hearth_Ground_Oven>
  <Potential_Archaeological_Deposit>
    <Arch_Dep_ID f="id autonum"/>
    <Insitu>
      <opts>
        <!--BOOLEAN_MODAL-->
      </opts>
    </Insitu>
    <Stratified>
      <opts>
        <!--BOOLEAN_MODAL-->
      </opts>
    </Stratified>
    <Deposit_Type>
      <opts>
        <opt>Historical</opt>
        <opt>Aboriginal Stone Artefact</opt>
        <opt>Shell</opt>
        <opt>Burial</opt>
        <opt>Oven/ Hearth</opt>
      </opts>
    </Deposit_Type>
    <Surface_Artefacts>
      <opts>
        <!--BOOLEAN-->
      </opts>
    </Surface_Artefacts>
  </Potential_Archaeological_Deposit>
  <Culturally_Modified_Tree>
    <CM_Tree_ID f="id autonum"/>
    <Type>
      <opts>
        <opt>Carved</opt>
        <opt>Scarred</opt>
        <opt>Carved and Scarred</opt>
      </opts>
    </Type>
    <Tree_Species>
      <opts>
        <opt>Eucalypt</opt>
        <opt>Red Gum</opt>
        <opt>Angotha</opt>
      </opts>
    </Tree_Species>
    <Number_of_Scars/>
    <Number_of_Carved_Panels/>
    <Living_Status>
      <opts>
        <opt>Dead</opt>
        <opt>Alive</opt>
        <opt>Dying</opt>
      </opts>
    </Living_Status>
    <Tree_Status>
      <opts>
        <opt>Standing</opt>
        <opt>Lying down</opt>
        <opt>Partially felled</opt>
        <opt>Subject to salinity</opt>
        <opt>Not in situ</opt>
      </opts>
    </Tree_Status>
    <Damage t="checkbox">
      <desc>Tick those that are relevant.</desc>
      <opts>
        <opt>Ringbarked</opt>
        <opt>Rot</opt>
        <opt>Limb fall</opt>
        <opt>None</opt>
      </opts>
    </Damage>
    <Regrowth>
      <desc>Select only one.</desc>
      <opts>
        <!--BOOLEAN-->
      </opts>
    </Regrowth>
    <Is_a_tree_health_assessment_required>
      <desc>Select only one.</desc>
      <opts>
        <!--BOOLEAN-->
      </opts>
    </Is_a_tree_health_assessment_required>
    <Length_of_Scar_mm>Length of Scar (mm)</Length_of_Scar_mm>
    <Width_of_Scar_mm>Width of Scar (mm)</Width_of_Scar_mm>
    <Depth_of_Scar_mm>Depth of Scar (mm)</Depth_of_Scar_mm>
    <Height_Above_Ground_mm>Height Above Ground (mm)</Height_Above_Ground_mm>
    <Shape>
      <opts>
        <opt>Oval</opt>
        <opt>Rectangular square</opt>
        <opt>Round</opt>
        <opt>Other</opt>
      </opts>
    </Shape>
    <Orientation>
      <opts>
        <opt>North East</opt>
        <opt>East</opt>
        <opt>South East</opt>
        <opt>South</opt>
        <opt>South West</opt>
        <opt>West</opt>
        <opt>North West</opt>
        <opt>North</opt>
      </opts>
    </Orientation>
    <Carving_type>
      <opts>
        <opt>Linear</opt>
        <opt>Geometric</opt>
        <opt>Pictorial</opt>
        <opt>N/A</opt>
      </opts>
    </Carving_type>
    <Axe_Marks>
      <opts>
        <opt>Metal</opt>
        <opt>Stone</opt>
        <opt>Indeterminate</opt>
      </opts>
    </Axe_Marks>
  </Culturally_Modified_Tree>
</Objects_IV>

<Cultural_Management_Comments>
  Cultural &amp; Management Comments
  <C_M_Comments>
    C &amp; M Comments
    <Comment_ID f="id autonum"/>
    <Aboriginal_community_interpretation>
      <desc>Note informants name and what they have said.</desc>
    </Aboriginal_community_interpretation>
    <Aboriginal_community_management_recommendations>
      <desc>Note informants name and what they have said.</desc>
    </Aboriginal_community_management_recommendations>
    <Other_management_recommendations>
      <desc>
        Add any thoughts you have on appropriate/necessary management. The AHIMS
        site recording form lists the following as options, but there may be
        other measures that are more appropriate: boardwalk,
        fencing/cage/barrier, closure to public, continued inspection, fire
        hazard reduction, expert assessment, meeting with land manager,
        revegetation, signage, soil erosion control, track closure/re-routing,
        rubbish removal, insect/animal removal additional recording,
        interpretation.
      </desc>
    </Other_management_recommendations>
  </C_M_Comments>
</Cultural_Management_Comments>

<logic><![CDATA[
]]></logic>

</module>
