<?xml version="1.0" ?>

<!--The following preprocessor directive inserts:
      - vocab entries; and
      - logic
      -->
<!--@PREPROC:  ./preproc.sh-->

<!--@POSTPROC: ./postproc.sh-->

<module>

<rels>
  <RelationshipElement name="Transect - Transect Point" type="hierarchical">
    <description>
      A 1-to-n relationship between the parent and its children, respectively.
    </description>
    <parent>Parent Of</parent>
    <child>Child Of</child>
  </RelationshipElement>
</rels>

<Login f="nodata">
  <Login>
    <Logger_ID t="dropdown" f="user"/>
    <Device_ID t="radio">
      <!--Populated manually in logic from Transect/Vars/Device_ID-->
    </Device_ID>
    <Login t="button" l="Control"/>
  </Login>
</Login>

<Control f="nodata">
  <Control>
    <New_Transect t="button" l="Transect"/>
    <New_Site     t="button" l="Site"/>
    <autonum/>
  </Control>
  <search/>
</Control>

<Transect>
  <Transect>
    <Start_Survey_Unit t="button"/>
    <Transect_ID f="id notnull autonum">
      <str>
        <pos>0</pos>
        <fmt>TRN-$2</fmt>
        <app>-</app>
      </str>
      <desc>
        The current autonumbering assumes single device in field. If multiple
        devices are in use, uniqueness rules must be defined.
      </desc>
    </Transect_ID>
    <timestamp f="id">
      <str>
        <fmt>-$2</fmt>
        <pos>2</pos>
        <app>-</app>
      </str>
    </timestamp>
    <Total_Transect_Width_m b="decimal">
      Total Transect Width (m)
    </Total_Transect_Width_m>
    <Number_of_Participants_in_Transect b="decimal" f="notnull"/>
    <Participants>
      <desc>
        Enter the names of assistants and other people walking your survey
        transect.
      </desc>
    </Participants>
    <Landform f="notnull">
      <desc>
        Include definitions of these terms from p.12 of Australian Soil and Land
        Survey Handbook
      </desc>
      <opts>
        <opt>Crest/Hill-top</opt>
        <opt>Upper Slope</opt>
        <opt>Mid-slope</opt>
        <opt>Lower Slope</opt>
        <opt>Simple Slope</opt>
        <opt>Flat</opt>
        <opt>Open Depression (Vale)</opt>
        <opt>Closed Depression</opt>
      </opts>
    </Landform>
    <Slope_Gradient f="notnull">
      Slope/Gradient
      <opts>
        <opt>Level</opt>
        <opt>Very Gently Inclined</opt>
        <opt>Gently Inclined</opt>
        <opt>Moderately Inclined</opt>
        <opt>Steep</opt>
        <opt>Very Steep</opt>
        <opt>Precipitous</opt>
        <opt>Cliffed</opt>
      </opts>
    </Slope_Gradient>
    <Aspect>
      <desc>
        Note which direction the landform faces and multiple directions if that
        is relevant.
      </desc>
    </Aspect>
    <Vegetation_Notes f="notnull">
      <desc>
        Note any recognisable species that are particularly dominant, known
        classifications for the ecosystem or other pertinent information.
      </desc>
    </Vegetation_Notes>
    <Ground_Surface_Visibility f="notnull">
      <desc>
        Estimate the average percentage of ground surface that is visible for
        the survey unit as per the definition in the Code of Practice (perhaps
        include the definition from Appendix A of the Code).
      </desc>
      <opts>
        <!--@SOURCE: vocabs/percentage-numbers.xml-->
      </opts>
    </Ground_Surface_Visibility>
    <Ground_Surface_Exposure f="notnull">
      <desc>
        Estimate the average percentage of ground surface that is exposed/
        quantity of exposures within the survey unit as per the definition in
        the Code of Practice (perhaps include the definition from Appendix A of
        the Code).
      </desc>
      <opts>
        <!--@SOURCE: vocabs/percentage-numbers.xml-->
      </opts>
    </Ground_Surface_Exposure>
    <Ground_Surface_Notes>
      <desc>
        Describe any factors or issues affecting ground cover - e.g. grass
        height and thickness, leaf litter, flooding etc.
      </desc>
    </Ground_Surface_Notes>
    <Soil_Observations>
      <desc>
        Describe the nature of the soil within the survey unit from any
        exposures that allow observations to be made. FAIMS to insert MOLS
        description criteria in the information field.
      </desc>
    </Soil_Observations>
    <Geomorphological_Activity f="notnull">
      <desc>
        Insert descriptions from Australian Soil and Land Survey Field Handbook.
        No Observation means that the geomorphology could not be determined -
        you must always try to make an observation.
      </desc>
      <opts>
        <opt>Eroded</opt>
        <opt>Eroded or Aggraded</opt>
        <opt>Aggraded</opt>
        <opt>Heaved up or Elevated</opt>
        <opt>Built Up</opt>
        <opt>Excavated or Dug Out</opt>
        <opt>Subsided or Depressed</opt>
        <opt>No Observation Made</opt>
      </opts>
    </Geomorphological_Activity>
    <Disturbance/>
    <Transect_Photo t="camera">
      <desc>
        Take a photo that best represents the survey unit. Note direction photo
        is facing and what it includes in relation to the survey unit.
      </desc>
    </Transect_Photo>
    <Transect_Photo_Caption>
      <desc>
        Note direction photo is facing and what it includes in relation to the
        survey unit.
      </desc>
    </Transect_Photo_Caption>
    <Transect_Sketch t="file"/>
    <Transect_Other_Notes/>
    <Finish_Survey_Unit t="button"/>
  </Transect>
  <Site f="noscroll">
    <Add_New_Site   t="button" lc="Site"/>
    <Recorded_Sites t="list"   ec="Site"/>
  </Site>
  <Map>
    <Map t="map"/>
    <Survey_Extent_Square_Metres f="readonly">
      Survey Extent (Square Metres)
    </Survey_Extent_Square_Metres>
  </Map>
  <Vars f="hidden">
    <Device_ID t="radio" f="notnull">
      <!--Set from value in Login/Login/Device_ID-->
      <opts>
        <opt>A</opt>
        <opt>B</opt>
        <opt>C</opt>
        <opt>D</opt>
      </opts>
    </Device_ID>
    <Transect_State/>
    <UUID_Started/>
    <UUID_Finished/>
    <author f="id">
      <str>
        <fmt>-$2</fmt>
        <pos>1</pos>
        <app>-</app>
      </str>
    </author>
  </Vars>
</Transect>

<Transect_Point f="noui">
  <Transect_Point>
    <State     f="id"><str><fmt>{{if $2 then "$2 "}}</fmt></str></State>
    <Parent_ID f="id"><str><fmt>{{if $2 then "$2 "}}</fmt></str></Parent_ID>
    <Order     f="id"><str><fmt>$2</fmt> </str></Order>
  </Transect_Point>
</Transect_Point>

<Site>
  <Site>
    <Site_ID f="id notnull autonum">
      <desc>
        The current autonumbering assumes single device in field. If multiple
        devices are in use, uniqueness rules must be defined.
      </desc>
      <str>
        <pos>0</pos>
        <fmt>Site-$2</fmt>
        <app>-</app>
      </str>
    </Site_ID>
    <timestamp f="id">
      <str>
        <fmt>-$2</fmt>
        <pos>3</pos>
        <app>-</app>
      </str>
    </timestamp>
    <gps/>
    <Open_Close_Site t="radio" f="notnull">
      Open/Close Site
      <opts>
        <opt>Open</opt>
        <opt>Close</opt>
      </opts>
    </Open_Close_Site>
    <Site_Aspect_Orientation f="notnull">
      Site Aspect/Orientation
      <desc>As per the descriptions in the AHIMS site recording form.</desc>
      <opts>
        <opt>N-S</opt>
        <opt>NE-SW</opt>
        <opt>E-W</opt>
        <opt>SE-NW</opt>
        <opt>N/A</opt>
      </opts>
    </Site_Aspect_Orientation>
    <Distance_to_Permanent_Water_Source b="decimal">
      <desc>Distance to permanent water source in metres.</desc>
    </Distance_to_Permanent_Water_Source>
    <Distance_to_Temporary_Water_Source b="decimal">
      <desc>Distance to temporary water source in metres.</desc>
    </Distance_to_Temporary_Water_Source>
    <Name_of_the_Nearest_Permanent_Water_Source>
      <desc>Name of nearest permanent water source.</desc>
    </Name_of_the_Nearest_Permanent_Water_Source>
    <Name_of_the_Nearest_Temporary_Water>
      <desc>Name of nearest temporary water.</desc>
    </Name_of_the_Nearest_Temporary_Water>
    <General_Condition_of_Site t="checkbox" f="notnull">
      <desc>Select all those that apply.</desc>
      <opts>
        <opt>Weathered</opt>
        <opt>Vehicle Damage</opt>
        <opt>Surface Water Wash</opt>
        <opt>Fire Damage</opt>
        <opt>Erosion</opt>
        <opt>Stock Damage</opt>
        <opt>Exposed Archaeological/Other Material</opt>
        <opt>Fire Damage</opt>
        <opt>Animal Damage</opt>
        <opt>Graffitti/Vandalism</opt>
        <opt>Mineralisation</opt>
        <opt>Unstable Structure/Landform</opt>
      </opts>
    </General_Condition_of_Site>
  </Site>
  <Map>
    <Map t="map"/>
  </Map>
  <Open_Site>
    <Total_Length_of_Visible_Site b="decimal" f="notnull">
      Total Length of Visible Site (m)
    </Total_Length_of_Visible_Site>
    <Average_Width_of_Visible_Site b="decimal" f="notnull">
      Average Width of Visible Site (m)
    </Average_Width_of_Visible_Site>
    <Estimated_Area_of_Visible_Site b="decimal" f="notnull"/>
    <Length_of_Assessed_Site_Area b="decimal" f="notnull">
      Length of Assessed Site Area (m)
    </Length_of_Assessed_Site_Area>
    <Subsurface_Potential t="radio">
      <opts>
        <!--@SOURCE: vocabs/boolean.xml-->
      </opts>
    </Subsurface_Potential>
    <Length_of_Potential_Site_Area b="decimal">
      Length of Potential Site Area (m)
    </Length_of_Potential_Site_Area>
    <Average_Width_of_Potential_Site_Area b="decimal" f="notnull">
      Average Width of Potential Site Area (m)
    </Average_Width_of_Potential_Site_Area>
  </Open_Site>
  <Close_Site>
    <Shelter_Cave_Formation>
      Shelter/Cave Formation
      <opts>
        <opt>Boulder</opt>
        <opt>Wind Erosion</opt>
        <opt>Water Erosion</opt>
        <opt>Rock Collapse</opt>
        <opt>Other</opt>
      </opts>
    </Shelter_Cave_Formation>
    <Rock_Surface_Condition>
      <opts>
        <opt>Silica Gloss</opt>
        <opt>Tessellated</opt>
        <opt>Weathered</opt>
        <opt>Other</opt>
      </opts>
    </Rock_Surface_Condition>
    <Internal_Length b="decimal" f="notnull">
      Internal Length (m)
    </Internal_Length>
    <Internal_Width b="decimal" f="notnull">
      Internal Width (m)
    </Internal_Width>
    <Shelter_Height b="decimal" f="notnull">
      Shelter Height  (m)
    </Shelter_Height>
    <Shelter_Floor_Area b="decimal" f="notnull"/>
  </Close_Site>
  <Community_Consultation_Notes>
    <Aboriginal_Community_Interpretation>
      <desc>Note informants name and what they have said.</desc>
    </Aboriginal_Community_Interpretation>
    <Aboriginal_Community_Management_Recommendations>
      <desc>Note informants name and what they have said.</desc>
    </Aboriginal_Community_Management_Recommendations>
    <Other_Management_Recommendations>
      <desc>
        Add any thoughts you have on appropriate/necessary management. The AHIMS
        site recording form lists the following as options, but there may be
        other measures that are more appropriate: boardwalk,
        fencing/cage/barrier, closure to public, continued inspection, fire
        hazard reduction, expert assessment, meeting with land manager,
        revegetation, signage, soil erosion control, track closure/re-routing,
        rubbish removal, insect/animal removal additional recording,
        interpretation.
      </desc>
    </Other_Management_Recommendations>
  </Community_Consultation_Notes>
  <Feature>
    <Feature_Type t="checkbox">
      <desc>Select all relevant site features.</desc>
      <opts>
        <opt>Intangible Values</opt>
        <opt>Aboriginal Ceremony</opt>
        <opt>Aboriginal Resource</opt>
        <opt>Dreaming</opt>
        <opt>Gathering</opt>
        <opt>Art</opt>
        <opt>Artefact</opt>
        <opt>Burial</opt>
        <opt>Conflict</opt>
        <opt>Mound</opt>
        <opt>Fish Trap</opt>
        <opt>Grinding Groove</opt>
        <opt>Habitation Structure</opt>
        <opt>Hearth/Ground Oven</opt>
        <opt>Non Human Bone &amp; Organic Material</opt>
        <opt>Ochre Quarry</opt>
        <opt>Potential Archaeological Deposit</opt>
        <opt>Stone Quarry</opt>
        <opt>Shell</opt>
        <opt>Stone Arrangement</opt>
        <opt>Culturally Modified Tree</opt>
        <opt>Water Hole</opt>
      </opts>
    </Feature_Type>
    <New_Feature       t="button"   lc="Feature"/>
    <Recorded_Features t="dropdown" ec="Feature"/>
  </Feature>
  <Vars f="hidden">
    <author f="id">
      <str>
        <fmt>-$2</fmt>
        <pos>2</pos>
        <app>-</app>
      </str>
    </author>
    <Site_Transect_ID f="id">
      <str>
        <fmt>{{if $2 then "-TRN-$2"}}</fmt>
        <pos>1</pos>
      </str>
    </Site_Transect_ID>
  </Vars>
</Site>

<Feature>
  <Feature>
    <Feature_ID f="id notnull autonum">
      <str>
        <fmt>$2</fmt>
        <pos>0</pos>
      </str>
    </Feature_ID>
    <gps/>
    <Feature_Condition>
      <opts>
        <opt>Excellent</opt>
        <opt>Good</opt>
        <opt>Fair</opt>
        <opt>Poor</opt>
      </opts>
    </Feature_Condition>
    <Select_Feature_Type f="id">
      <str>
        <fmt>-Feature Type-$1</fmt>
        <pos>1</pos>
        <app>-</app>
      </str>
      <opts>
        <opt>Artefact</opt>
        <opt>Intangible Value</opt>
        <opt>Art</opt>
        <opt>Other Feature</opt>
        <opt>Grinding Groove</opt>
        <opt>Shell</opt>
        <opt>Hearth/Ground Oven</opt>
        <opt>Potential Archaeological Deposit</opt>
        <opt>Culturally Modified Tree</opt>
      </opts>
    </Select_Feature_Type>
  </Feature>
  <Artefact f="hidden">
    <In_Situ_Artefact>
      <opts>
        <!--@SOURCE: vocabs/boolean-modal.xml-->
      </opts>
    </In_Situ_Artefact>
    <Stratified_Artefact>
      <opts>
        <!--@SOURCE: vocabs/boolean-modal.xml-->
      </opts>
    </Stratified_Artefact>
    <Total_Number_of_Artefacts b="decimal"/>
    <Artefact_Raw_Material>
      <opts>
        <opt>Basalt</opt>
        <opt>Chert</opt>
        <opt>Fine Grained Siliceous</opt>
        <opt>Granite</opt>
        <opt>Quartz</opt>
        <opt>Quartzite</opt>
        <opt>Sandstone</opt>
        <opt>Silcrete</opt>
        <opt>Glass</opt>
        <opt>Mudstone</opt>
        <opt>Silcrete</opt>
        <opt>Petrified Wood</opt>
        <opt>Chalcedony</opt>
        <opt>Chalcedonic Chert</opt>
        <opt>Ceramic</opt>
        <opt>Metal</opt>
        <opt>Shell</opt>
        <opt>Bone</opt>
        <opt>Wood</opt>
        <opt>Resin</opt>
        <opt>Plastic</opt>
        <opt>Building Material</opt>
        <opt>Synthetic</opt>
        <opt>Textile</opt>
        <opt>Other Animal Material</opt>
        <opt>Other Plant Material</opt>
        <opt>Other Unknown Material</opt>
      </opts>
    </Artefact_Raw_Material>
    <Artefact_Type t="radio">
      <opts>
        <opt>Aboriginal</opt>
        <opt>Historical</opt>
      </opts>
    </Artefact_Type>
    <Artefact_Description_for_Aboriginal_Stone_Artefacts>
      Artefact Description (for Aboriginal Stone Artefacts)
      <opts>
        <opt>Anvil</opt>
        <opt>Axe</opt>
        <opt>Core</opt>
        <opt>Flake</opt>
        <opt>Hammerstone</opt>
        <opt>Manuport</opt>
        <opt>Groundstone Implement
          <opt>Milling Slab</opt>
          <opt>Mortar</opt>
          <opt>Muller</opt>
        </opt>
        <opt>Retouched Flake</opt>
        <opt>Core Fragment</opt>
        <opt>Flake Fragment</opt>
        <opt>Retouched Flake Fragment</opt>
        <opt>Other - Unknown</opt>
      </opts>
    </Artefact_Description_for_Aboriginal_Stone_Artefacts>
    <Artefact_Description_for_Historical_Artefacts>
      Artefact Description (for Historical Artefacts)
    </Artefact_Description_for_Historical_Artefacts>
    <Artefact_Colour>
      <desc>
        Please provide Munsell colour code and its descriptor, e.g., 10YR3/4
        Dark Yellowish Brown.
      </desc>
      <opts>
        <!--@SOURCE: vocabs/munsel.xml-->
      </opts>
    </Artefact_Colour>
    <Artefact_Status_Modification>
      Artefact Status/Modification
      <desc>
        Carved tends to refer to wooden features/ objects while cut refers to
        historical artefacts - cut pipe, cut plastic etc.
      </desc>
      <opts>
        <opt>Broken</opt>
        <opt>Modified</opt>
        <opt>Unworked</opt>
        <opt>Whole</opt>
        <opt>Usewear</opt>
        <opt>Burnt</opt>
        <opt>Carved/Cut</opt>
        <opt>Chewed</opt>
        <opt>Chipped</opt>
        <opt>Corroded</opt>
        <opt>Stained</opt>
        <opt>Drilled</opt>
        <opt>Encrusted</opt>
        <opt>Fabric Decay</opt>
        <opt>Ground</opt>
        <opt>Melted</opt>
        <opt>Other Heat Modification</opt>
        <opt>Opalescence</opt>
        <opt>Perforated</opt>
        <opt>Polished</opt>
        <opt>Repaired</opt>
        <opt>Shattered</opt>
        <opt>Weathered</opt>
      </opts>
    </Artefact_Status_Modification>
    <Platform_Surface_for_Aboriginal_Stone_Artefacts>
      Platform Surface (for Aboriginal Stone Artefacts)
      <opts>
        <opt>Cortex</opt>
        <opt>One Flake Scar</opt>
        <opt>More than One Flake Scar</opt>
        <opt>Faceted</opt>
        <opt>Ground</opt>
        <opt>Indeterminate</opt>
        <opt>Bipolar</opt>
      </opts>
    </Platform_Surface_for_Aboriginal_Stone_Artefacts>
    <Platform_Type_for_Aboriginal_Stone_Artefacts>
      Platform Type (for Aboriginal Stone Artefacts)
      <opts>
        <opt>Wide</opt>
        <opt>Focal</opt>
        <opt>Shattered</opt>
        <opt>Indeterminate</opt>
      </opts>
    </Platform_Type_for_Aboriginal_Stone_Artefacts>
    <Termination_for_Aboriginal_Stone_Artefacts>
      Termination (for Aboriginal Stone Artefacts)
      <opts>
        <opt>Feather</opt>
        <opt>Hinge</opt>
        <opt>Step</opt>
        <opt>Plunge</opt>
      </opts>
    </Termination_for_Aboriginal_Stone_Artefacts>
    <Cross_Section_for_Aboriginal_Artefacts>
      Cross Section (for Aboriginal Artefacts)
      <opts>
        <opt>High/Strong</opt>
        <opt>High/Weak</opt>
        <opt>Low/Weak</opt>
        <opt>Irregular</opt>
      </opts>
    </Cross_Section_for_Aboriginal_Artefacts>
    <Artefact_Length_mm b="decimal">
      Artefact Length (mm)
      <desc>Maximum length of the object - longest side.</desc>
    </Artefact_Length_mm>
    <Artefact_Width_mm b="decimal">
      Artefact Width (mm)
      <desc>
        Maximum width of the object (taken 90 degrees to the length
        measurement).
      </desc>
    </Artefact_Width_mm>
    <Artefact_Thickness_mm b="decimal">
      Artefact Thickness (mm)
      <desc>
        Maximum thickness of the object measurement is taken at its thickest
        part.
      </desc>
    </Artefact_Thickness_mm>
    <Other_Observations_Artefact>
      <desc>Note any other things like texture, e.g., waxy/lustre.</desc>
    </Other_Observations_Artefact>
    <Artefact_Photo t="camera">
      <desc>
        Take a photo that best represents the artefacts present. Use scale and
        colour reference (IFRAO). Use north arrow where appropriate.
      </desc>
    </Artefact_Photo>
    <Artefact_Photo_Caption>
      <desc>
        Note direction photo is facing and what it includes in relation to the
        survey unit.
      </desc>
    </Artefact_Photo_Caption>
  </Artefact>
  <Intangible_Value f="hidden">
    <Intangible_Value_Type>
      <opts>
        <opt>Aboriginal Ceremony (No Physical Evidence)</opt>
        <opt>Song</opt>
        <opt>Story</opt>
        <opt>Dreaming</opt>
        <opt>Gathering (No Physical Evidence)</opt>
      </opts>
    </Intangible_Value_Type>
    <Intangible_Value_Description/>
  </Intangible_Value>
  <Art f="hidden">
    <Pigment_Engraved t="radio">
      Pigment/Engraved
      <opts>
        <opt>Pigment</opt>
        <opt>Engraved</opt>
        <opt>N/A</opt>
      </opts>
    </Pigment_Engraved>
    <Super-impositioning t="radio">
      <opts>
        <!--@SOURCE: vocabs/boolean.xml-->
      </opts>
    </Super-impositioning>
    <Art_Motif t="checkbox">
      <desc>
        Select all that apply - if other, add in freeform text beside the other
        button.
      </desc>
      <opts>
        <opt>Anthropomorphic</opt>
        <opt>Bird</opt>
        <opt>Bird Track</opt>
        <opt>Canoe</opt>
        <opt>Circle</opt>
        <opt>Contact Material Culture</opt>
        <opt>Duck</opt>
        <opt>Eel</opt>
        <opt>Emu</opt>
        <opt>Emu Track</opt>
        <opt>European Figure</opt>
        <opt>Female</opt>
        <opt>Fish</opt>
        <opt>Foot</opt>
        <opt>Hand</opt>
        <opt>Jellyfish</opt>
        <opt>Kangaroo</opt>
        <opt>Line</opt>
        <opt>Lizard</opt>
        <opt>Macropod</opt>
        <opt>Macropod Track</opt>
        <opt>Male</opt>
        <opt>Marine-other</opt>
        <opt>Other</opt>
        <opt>Pattern</opt>
        <opt>Quadruped</opt>
        <opt>Reptile</opt>
        <opt>Rifle</opt>
        <opt>Shield</opt>
        <opt>Ship</opt>
        <opt>Snake</opt>
        <opt>Spear</opt>
        <opt>Wallaby</opt>
        <opt>Whale</opt>
      </opts>
    </Art_Motif>
    <Application_Technique t="checkbox">
      <desc>
        Select all that apply - if other, add in freeform text beside the other
        button.
      </desc>
      <opts>
        <opt>Abraded</opt>
        <opt>Drawn</opt>
        <opt>Other</opt>
        <opt>Painted</opt>
        <opt>Pecked</opt>
        <opt>Pigment &amp; Engraved</opt>
        <opt>Stencilled</opt>
      </opts>
    </Application_Technique>
    <Art_Form>
      <opts>
        <opt>Fill</opt>
        <opt>Line</opt>
        <opt>Line + Fill</opt>
        <opt>Other</opt>
        <opt>Pattern</opt>
      </opts>
    </Art_Form>
    <Art_Main_Colour>
      <opts>
        <opt>Black</opt>
        <opt>Mauve</opt>
        <opt>N/A</opt>
        <opt>Orange</opt>
        <opt>Other</opt>
        <opt>Red</opt>
        <opt>White</opt>
        <opt>Yellow</opt>
      </opts>
    </Art_Main_Colour>
    <Art_Location t="checkbox">
      <desc>
        Select all that apply - if other, add in freeform text beside the other
        button.
      </desc>
      <opts>
        <opt>All Over Shelter or Rock Platform Surface</opt>
        <opt>Ceiling</opt>
        <opt>Floor</opt>
        <opt>Mostly near Largest Sheltered Space</opt>
        <opt>Mostly on Out of the Way Spaces</opt>
        <opt>Other</opt>
        <opt>Wall</opt>
      </opts>
    </Art_Location>
    <Associated_Story_Significance_Interpretation>
      Associated Story/Significance/Interpretation
    </Associated_Story_Significance_Interpretation>
    <Art_Condition>
      <opts>
        <opt>Faded</opt>
        <opt>Stained</opt>
        <opt>Mineralisation Evident</opt>
        <opt>Very Brant Colours</opt>
        <opt>Unweathered</opt>
        <opt>Weathered</opt>
      </opts>
    </Art_Condition>
    <Art_Sketch_Plan t="file"/>
    <Art_Photo t="camera"/>
    <Art_Other_Observations/>
  </Art>
  <Other_Feature f="hidden">
    <Description_Other_Feature/>
    <Chain_of_Custody_Notes_for_Human_Remains>
      Chain of Custody Notes (for Human Remains)
    </Chain_of_Custody_Notes_for_Human_Remains>
    <Other_Feature_Sketch_Plan t="file"/>
    <Other_Feature_Photo t="camera"/>
  </Other_Feature>
  <Grinding_Groove f="hidden">
    <Type_of_Grinding_Groove>
      <opts>
        <opt>Broad</opt>
        <opt>Narrow/point</opt>
        <opt>Hollow</opt>
        <opt>Flat</opt>
      </opts>
    </Type_of_Grinding_Groove>
    <Profile_Shape t="radio">
      <opts>
        <opt>U' Shaped</opt>
        <opt>'V' Shaped</opt>
        <opt>Flat</opt>
      </opts>
    </Profile_Shape>
    <Seed_Species_Present/>
    <Groove_Function/>
    <Dimensions_-_Length_of_the_Smallest_Part_mm b="decimal">
      Dimensions - Length of the Smallest Part (mm)
    </Dimensions_-_Length_of_the_Smallest_Part_mm>
    <Dimensions_-_Width_of_the_Smallest_Part_mm b="decimal">
      Dimensions - Width of the Smallest Part (mm)
    </Dimensions_-_Width_of_the_Smallest_Part_mm>
    <Dimensions_-_Depth_of_the_Smallest_Part_mm b="decimal">
      Dimensions - Depth of the Smallest Part (mm)
    </Dimensions_-_Depth_of_the_Smallest_Part_mm>
    <Dimensions_-_Length_of_the_Largest_Part_mm b="decimal">
      Dimensions - Length of the Largest Part (mm)
    </Dimensions_-_Length_of_the_Largest_Part_mm>
    <Dimensions_-_Width_of_the_Largest_Part_mm b="decimal">
      Dimensions - Width of the Largest Part (mm)
    </Dimensions_-_Width_of_the_Largest_Part_mm>
    <Dimensions_-_Depth_of_the_Largest_Part_mm b="decimal">
      Dimensions - Depth of the Largest Part (mm)
    </Dimensions_-_Depth_of_the_Largest_Part_mm>
    <Groove_Count b="decimal"/>
    <Cluster_Count b="decimal"/>
    <Grinding_Groove_Sketch_Plan t="file"/>
    <Grinding_Groove_Photo t="camera"/>
  </Grinding_Groove>
  <Shell f="hidden">
    <Shell_Distribution t="radio">
      <opts>
        <opt>Surface Scatter</opt>
        <opt>Stratified Deposit</opt>
        <opt>Mounded</opt>
      </opts>
    </Shell_Distribution>
    <Distance_to_High_Water_Mark_Metres b="decimal">
      Distance to High Water Mark (m)
    </Distance_to_High_Water_Mark_Metres>
    <Species_Present t="checkbox">
      <opts>
        <!--@SOURCE: vocabs/species.xml-->
      </opts>
    </Species_Present>
    <Dominant_Species>
      <opts>
        <!--@SOURCE: vocabs/species.xml-->
      </opts>
    </Dominant_Species>
    <Approximate_Percentage_of_Dominant_Species_as_Part_of_Assemblage>
      <opts>
        <!--@SOURCE: vocabs/percentage-intervals.xml-->
      </opts>
    </Approximate_Percentage_of_Dominant_Species_as_Part_of_Assemblage>
    <Shell_Sketch_Plan t="file"/>
    <Shell_Photo t="camera"/>
  </Shell>
  <Hearth_Ground_Oven f="hidden">
    Hearth/Ground Oven
    <Hearth_Shape_mm>
      Hearth Shape (mm)
    </Hearth_Shape_mm>
    <Hearth_Length_mm>
      Hearth Length (mm)
    </Hearth_Length_mm>
    <Hearth_Width_mm>
      Hearth Width (mm)
    </Hearth_Width_mm>
    <Hearth_Estimated_Depth_mm>
      Hearth Estimated Depth (mm)
    </Hearth_Estimated_Depth_mm>
    <Hearth_Components>
      <desc>Tick all those that are relevant.</desc>
      <opts>
        <opt>Baked Clay Balls</opt>
        <opt>Charcoal</opt>
        <opt>Wood</opt>
        <opt>Heat Affected Basal Clay</opt>
        <opt>Bone/Other Animal Material</opt>
        <opt>Seeds/Other Plant Material</opt>
        <opt>Stone</opt>
      </opts>
    </Hearth_Components>
    <Hearth_Descriptive_Notes/>
    <Hearth_Sketch_Plan t="file"/>
    <Hearth_Photo t="camera"/>
  </Hearth_Ground_Oven>
  <Potential_Archaeological_Deposit f="hidden">
    <PAD_in_Situ>
      <opts>
        <!--@SOURCE: vocabs/boolean-modal.xml-->
      </opts>
    </PAD_in_Situ>
    <PAD_Stratified>
      <opts>
        <!--@SOURCE: vocabs/boolean-modal.xml-->
      </opts>
    </PAD_Stratified>
    <PAD_Type>
      <opts>
        <opt>Historical</opt>
        <opt>Aboriginal Stone Artefact</opt>
        <opt>Shell</opt>
        <opt>Burial</opt>
        <opt>Oven/Hearth</opt>
      </opts>
    </PAD_Type>
    <PAD_Surface_Artefacts t="radio">
      <opts>
        <!--@SOURCE: vocabs/boolean.xml-->
      </opts>
    </PAD_Surface_Artefacts>
  </Potential_Archaeological_Deposit>
  <Culturally_Modified_Tree f="hidden">
    <CM_Tree_Type t="radio">
      <opts>
        <opt>Carved</opt>
        <opt>Scarred</opt>
        <opt>Carved and Scarred</opt>
      </opts>
    </CM_Tree_Type>
    <Tree_Species t="radio">
      <opts>
        <opt>Eucalypt</opt>
        <opt>Red Gum</opt>
        <opt>Angotha</opt>
      </opts>
    </Tree_Species>
    <Number_of_Scars b="decimal"/>
    <Number_of_Carved_Panels b="decimal"/>
    <Living_Status t="radio">
      <opts>
        <opt>Dead</opt>
        <opt>Alive</opt>
        <opt>Dying</opt>
      </opts>
    </Living_Status>
    <Tree_Status>
      <opts>
        <opt>Standing</opt>
        <opt>Lying Down</opt>
        <opt>Partially Felled</opt>
        <opt>Subject to Salinity</opt>
        <opt>Not in Situ</opt>
      </opts>
    </Tree_Status>
    <CM_Tree_Damage t="checkbox">
      <desc>Tick those that are relevant.</desc>
      <opts>
        <opt>Ringbarked</opt>
        <opt>Rot</opt>
        <opt>Limb Fall</opt>
        <opt>None</opt>
      </opts>
    </CM_Tree_Damage>
    <Regrowth t="radio">
      <opts>
        <!--@SOURCE: vocabs/boolean.xml-->
      </opts>
    </Regrowth>
    <Is_a_Tree_Health_Assessment_Required t="radio">
      Is a Tree Health Assessment Required?
      <opts>
        <!--@SOURCE: vocabs/boolean.xml-->
      </opts>
    </Is_a_Tree_Health_Assessment_Required>
    <Length_of_Scar_mm b="decimal">
      Length of Scar (mm)
    </Length_of_Scar_mm>
    <Width_of_Scar_mm b="decimal">
      Width of Scar (mm)
    </Width_of_Scar_mm>
    <Depth_of_Scar_mm b="decimal">
      Depth of Scar (mm)
    </Depth_of_Scar_mm>
    <Height_Above_Ground_mm b="decimal">
      Height Above Ground (mm)
    </Height_Above_Ground_mm>
    <CM_Tree_Shape>
      <opts>
        <opt>Oval</opt>
        <opt>Rectangular Square</opt>
        <opt>Round</opt>
        <opt>Other</opt>
      </opts>
    </CM_Tree_Shape>
    <CM_Tree_Orientation>
      <opts>
        <opt>North East</opt>
        <opt>East</opt>
        <opt>South East</opt>
        <opt>South</opt>
        <opt>South West</opt>
        <opt>West</opt>
        <opt>North West</opt>
        <opt>North</opt>
      </opts>
    </CM_Tree_Orientation>
    <Carving_Type>
      <opts>
        <opt>Linear</opt>
        <opt>Geometric</opt>
        <opt>Pictorial</opt>
        <opt>N/A</opt>
      </opts>
    </Carving_Type>
    <Axe_Marks>
      <opts>
        <opt>Metal</opt>
        <opt>Stone</opt>
        <opt>Indeterminate</opt>
      </opts>
    </Axe_Marks>
  </Culturally_Modified_Tree>
  <Vars f="hidden">
    <author f="id">
      <str>
        <fmt>-$2</fmt>
        <pos>3</pos>
        <app>-</app>
      </str>
    </author>
    <timestamp f="id">
      <str>
        <fmt>-$2</fmt>
        <pos>4</pos>
        <app>-</app>
      </str>
    </timestamp>
    <Feature_Transect_ID f="id">
      <str>
        <fmt>{{if $2 then "-TRN-$2"}}</fmt>
        <pos>2</pos>
      </str>
    </Feature_Transect_ID>
  </Vars>
</Feature>

<logic><![CDATA[
  <!--@SOURCE: logic/utils.bsh-->

  <!--@SOURCE: logic/device-id-copying.bsh-->
  <!--@SOURCE: logic/device-id-population.bsh-->
  <!--@SOURCE: logic/dynamic-ui-feature-tabs.bsh-->
  <!--@SOURCE: logic/dynamic-ui-open-close.bsh-->
  <!--@SOURCE: logic/login-tab-validation.bsh-->
  <!--@SOURCE: logic/transect-geometry.bsh-->
  <!--@SOURCE: logic/field-inheritance.bsh-->
  <!--@SOURCE: logic/search-extension.bsh-->
]]></logic>

</module>
